@model OnlineTest.Web.Models.QuestionViewModel

@using (Html.BeginForm("Solve", "Question", new { testId = Model.TestId, question = Model.Index }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <input type="hidden" name="testId" value="@Model.TestId" id="testId" />
    <input type="hidden" name="selectedAnswerId" id="selectedAnswerId" />
    <input type="hidden" name="direction" value="0" id="direction" />

    <h3>
        @Model.Text
    </h3>
        <i>
            @Model.Description
        </i>
    foreach (var answer in Model.Answers)
    {
        <div class="form-group">
            @Html.Label(answer.Text, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input id="radio@(answer.Id)" type="radio" name="radio" value="@answer.Id" />
            </div>
        </div>
    }



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (!Model.IsLast)
            {
                <input type="submit" class="btn btn-default" value="Next question" />
            }
            else
            {
                <input type="submit" class="btn btn-default" value="Finish" />
            }
        </div>
    </div>
}

@if (!Model.IsFirst)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" onclick="previous()">Previous question</button>
        </div>
    </div>
}

<script>
    function previous(e) {
        $('#direction').val(-1);
        history.go(-1);
        console.log("Back function");
        return false;
    }

    $('form').submit(function (e) {
        let selectedAnswerId = $('input[name="radio"]:checked').val();
        $('#selectedAnswerId').val(selectedAnswerId || -1);
        $('#direction').val(1);
        return true;
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}