@using OnlineTest.Web.Models
@using OnlineTest.Models
@model TestsListViewModel


<div class="container">
    <table id="test-list-table">
        @foreach (Test test in Model.Tests)
            {
            <tr>
                @if (Model.UserScore.ContainsKey(test.Id))
                {
                    <td><span id="@test.Id" class="btn btn-success btn-lg">@test.Name</span></td>
                    <td><span>@Model.UserScore[test.Id].Result</span></td>
                }
                else
                {
                    <td>
                        <a id="@test.Id" href="/Tests/SelectTest/@test.Id" class="btn btn-success btn-lg">@test.Name</a>
                    </td>
                }
            </tr>
        }
    </table>
</div>
